{{ define "main" }}
<h5>{{ .Title }}</h5>

<h6>Actor's details</h6>
<table>
<tr><td><b>ID</b><td><td>{{ .Site.Director}}</td></tr>
<tr><td><b>Nationality</b><td><td>{{ .Params.Genre}}</td></tr>
<tr><td><b>Birth</b><td><td>{{ .Params.Director}}</td></tr>
<tr><td><b>Awards</b><td><td>{{ .Params.awards}}</td></tr>
<tr><td><b>Fields</b><td><td>
  {{ range .Site.Data }} {{ . }} | {{end}}
</td></tr>
</table>

<h6>Movies</H6>
    <ul>
      {{ range .Params.moviesId }}
         {{ $t := $.Site.GetPage .}}
         <li><a href="/movies/{{ .}}">{{ $t.Title }}</a></li>
      {{ end }}
    </ul>

<h6>Biography</h6>

{{ .Content }}
{{ end }}

